* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.italic {
    font-style: italic;
}

body {
    font-family: monospace;
}

/*Navigatie*/

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(41, 41, 41);
    /*border-top: solid rgb(94, 94, 94) 4px;*/
}
nav li {
    width: 100%;
    text-align: center;
    padding-top: 4px;
}
nav li img {
    height: 40px;
    width: auto;
}
nav li p {
    color: rgb(255, 255, 255);
    font-size: 10px;
    margin: 5px 0px 10px;
    font-family: 'Lucida Sans';
    font-weight: bold;
}

/*Einde Navigatie*/

h1 {
    text-align: center;
    margin: 20px 0px 0px;
}
header p {
    text-align: center;
    margin-bottom: 30px;
}
header {
    background-color: rgb(255, 255, 255);
}

main {
    background-image: linear-gradient(#e5b8dc,#b7a8f6);
    background-repeat: no-repeat;
}
.pagina4 {
    background-image: linear-gradient(#e5b8dc,#edc9af);
    background-repeat: no-repeat;
}
.topbar {
    display: flex;
    justify-content: center;
    background-color: rgb(41, 41, 41);
}
.topbarlogo {
    height: 50px;
    padding: 5px;
    width: auto;
}

.headerbar {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.mainlogo {
    height: 200px;
    width: auto;
    padding-left: 3em;
}

.shopfront {
    height: 260px;
    width: auto;
    margin-bottom: 20px;
    border-radius: 20px;
}
.shopfrontdiv {
    display: flex;
    justify-content: center;
    border-bottom: solid #b7a8f6 5px;
    margin: 0px 20px;
}

.pijlomlaag {
    height: 50px;
    width: auto;
    margin: 20px 0px 40px;
}
.pijlomlaagdiv {
    display: flex;
    justify-content: center;
}

.lijndiv {
    max-width: 100%;
}

.beschrijving {
    text-align: center;
    margin: 0px 1em;
}

.beschrijving h2 {
    margin: 10px;
}

.socialmedia {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px 7px;
}
.mediaicon {
    height: 30px;
    width: auto;
}
.medialinks {
    display: flex;
    justify-content: space-evenly;
}
.medialinks p {
    font-size: 10px;
    color: white;
    font-family: 'Lucida Sans';
    margin-bottom: 100px;
}

/*Pagina 2*/

.h2over {
    text-align: center;
    margin-top: 20px;
    color: white;
    text-shadow: black 1px 1px 1px;
}
.duurzaamdiv {
    display: flex;
    justify-content: center;
}
.duurzaam {
    height: 150px;
    margin: 20px 20px;
    width: auto;
    border-radius: 10px;
}
.p2over p {
    text-align: center;
    margin: 0px 50px;
    /*color: white;*/
}

.h3verpakking {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: white;
    text-shadow: black 1px 1px 1px;
}

.verpakking p {
    text-align: center;
    margin: 20px 50px;
    /*color: white;*/
}
.verpakking {
    padding-bottom: 3em;
}

/*Pagina 3*/

.h2ervaring {
    text-align: center;
    margin: 18px 0px 5px;
    font-size: 18px;
    color: white;
    text-shadow: black 1px 1px 1px;
}

.locatie {
    display: flex;
    padding: 20px;
}
.locatie img {
    height: 140px;
    width: auto;
    border-radius: 10px;
}
.locatie p {
    margin-right: 10px;
}
.burger, .kip {
    margin: 30px 0px;
}
.burger p, .kip p {
    margin: 20px 10px;
}
.burger img {
    height: 140px;
    width: auto;
    border-radius: 10px;
    float: left;
    margin: 10px 10px;
}

.kip img {
    height: 140px;
    width: auto;
    float: right;
    border-radius: 10px;
    margin: 10px 10px;
}
.mening {
    text-align: center;
    margin: 10px 20px 40px;
    padding-bottom: 40px;
}

/*Pagina 4*/
.adam {
    display: flex;
    justify-content: center;
}
.adam img{
    height: 200px;
    width: auto;
    margin: 20px 20px;
    border-radius: 20px;
}
.amsterdam {
    text-align: center;
    margin: 10px 10px;
}

.amsterdam ul {
    list-style-type: none;
}
.overig {
    text-align: center;
    margin: 10px 10px 5em;
    padding-bottom: 5em;
}
